.modal {
  box-sizing: border-box;
  max-width: 85vw;
  @media screen and (min-width: 800px) {
    width: 600px;
  }
  height: 600px;
  background: transparent;
  top: 10%;
  box-shadow: none;
  padding: 0;
}

.closeButton {
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.closeIcon {
  fill: white;
  width: 50px;
  height: 50px;
}
